<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
 <connectionStrings>
    <add name="Constring" connectionString="Data Source=HARISH-PC;  Database=Hrms ; Integrated Security=false ; User ID=sa;Password=ouser" /> 
    
  
    
    
  </connectionStrings>
 <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="IntervalTime" value="5000" />
    <add key="CompanyInfo" value="1" />
    <add key="SMTP" value="2" />
    <add key="CustomerProfile" value="3" />
    <add key="Profiles" value="4" />
    <add key="users" value="5" />
    <add key="Department" value="6" />
    <add key="SkillSets" value="7" />
    <add key="MobUsers" value="8" />
    <add key="EmailTemplates" value="9" />    
    <add key="Employees" value="10" />
    <add key="Departments" value="11" />
    <add key="Incidents" value="12" />
    <add key="CustomerDash" value="13" /> 
    <add key="Requests" value="14" /> 
    <add key="Api" value="16" /> 
    <add key="productCode" value="CC002" />    
  </appSettings>
</configuration>